################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/netcoreapp2.2
/.vs/Template/v16/Server/sqlite3
/API/obj
/Core/bin/Debug/netstandard2.0
/Core/obj
/Entities/bin/Debug/netcoreapp2.2
/Entities/obj
/Forms/Forms/bin/Debug/netstandard2.0
/Forms/Forms/obj
/Forms/Forms.Android/bin/Debug
/Forms/Forms.Android/obj
/Forms/Forms.iOS/bin/iPhone/Debug
/Forms/Forms.iOS/obj
/Forms/Forms.UWP/bin/x86/Debug
/Forms/Forms.UWP/obj
/.vs/Template
/Tools/RealmWeaver.Fody.dll
/RealmDb/obj/RealmDb.csproj.nuget.g.targets
/RealmDb/obj/RealmDb.csproj.nuget.g.props
/RealmDb/obj/RealmDb.csproj.nuget.dgspec.json
/RealmDb/obj/RealmDb.csproj.nuget.cache
/RealmDb/obj/project.assets.json
/RealmDb/obj/Debug/netstandard2.1/RealmDb.pdb.tmp
/RealmDb/obj/Debug/netstandard2.1/RealmDb.pdb
/RealmDb/obj/Debug/netstandard2.1/RealmDb.dll
/RealmDb/obj/Debug/netstandard2.1/RealmDb.csprojAssemblyReference.cache
/RealmDb/obj/Debug/netstandard2.1/RealmDb.csproj.FileListAbsolute.txt
/RealmDb/obj/Debug/netstandard2.1/RealmDb.csproj.CopyComplete
/RealmDb/obj/Debug/netstandard2.1/RealmDb.assets.cache
/RealmDb/obj/Debug/netstandard2.1/RealmDb.AssemblyInfoInputs.cache
/RealmDb/obj/Debug/netstandard2.1/RealmDb.AssemblyInfo.cs
/RealmDb/obj/Debug/netstandard2.0/RealmDb.pdb.tmp
/RealmDb/obj/Debug/netstandard2.0/RealmDb.pdb
/RealmDb/obj/Debug/netstandard2.0/RealmDb.dll
/RealmDb/obj/Debug/netstandard2.0/RealmDb.csprojAssemblyReference.cache
/RealmDb/obj/Debug/netstandard2.0/RealmDb.csproj.FileListAbsolute.txt
/RealmDb/obj/Debug/netstandard2.0/RealmDb.csproj.CopyComplete
/RealmDb/obj/Debug/netstandard2.0/RealmDb.assets.cache
/RealmDb/obj/Debug/netstandard2.0/RealmDb.AssemblyInfoInputs.cache
/RealmDb/obj/Debug/netstandard2.0/RealmDb.AssemblyInfo.cs
/RealmDb/FodyWeavers.xml
/RealmDb/bin/Debug/netstandard2.1/RealmDb.pdb
/RealmDb/bin/Debug/netstandard2.1/RealmDb.dll
/RealmDb/bin/Debug/netstandard2.1/RealmDb.deps.json
/RealmDb/bin/Debug/netstandard2.1/Core.pdb
/RealmDb/bin/Debug/netstandard2.1/Core.dll
/RealmDb/bin/Debug/netstandard2.0/RealmDb.pdb
/RealmDb/bin/Debug/netstandard2.0/RealmDb.dll
/RealmDb/bin/Debug/netstandard2.0/RealmDb.deps.json
/RealmDb/bin/Debug/netstandard2.0/Core.pdb
/RealmDb/bin/Debug/netstandard2.0/Core.dll
/Forms/Forms/bin/Debug/netstandard2.1/ref/Forms.dll
/Forms/Forms/bin/Debug/netstandard2.1/fr/Forms.resources.dll
/Forms/Forms/bin/Debug/netstandard2.1/Forms.pdb
/Forms/Forms/bin/Debug/netstandard2.1/Forms.dll
/Forms/Forms/bin/Debug/netstandard2.1/Forms.deps.json
/Forms/Forms/bin/Debug/netstandard2.1/en/Forms.resources.dll
/Forms/Forms/bin/Debug/netstandard2.1/Core.pdb
/Forms/Forms/bin/Debug/netstandard2.1/Core.dll
